<div class="main-buttons">
    <a class="circle-link" (click)="findUserData(true)" target="_blank" rel="noopener">
        Homme de 60 ans
    </a>
    <a class="circle-link" (click)="findUserData(false)" target="_blank" rel="noopener">
        Femme de 20 ans
    </a>
</div>
<mat-form-field *ngIf="characterChosen" appearance="fill">
    <mat-label>Choisissez une question</mat-label>
    <mat-select [(ngModel)]="selectedQuestion" (ngModelChange)='createGraph()'>
      <mat-option *ngFor="let question of questions" [value]="question">
        {{question}}
      </mat-option>
    </mat-select>
</mat-form-field>
